body{
    background-color: #66bfbf;;
    font-family: 'Sacramento', cursive;
    text-align: center;
    
}

hr{
    border-top-style: dotted;
    border-top-width: 5px;
    border-bottom: none;
    width: 5% ;
    margin: 20px auto 40 auto;
    border-color: #EAF6F6;
}
.top{
    position: relative;

} 
.mon{
    position: absolute;
    left: 50px;
   
}

h1{
    margin: 50px auto;
}


.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
h1:hover{
  color: #ffffff;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.imgcl{

  padding-top: 40px;

}
.copyright{
    color: #EAF6F6;
    font-size: 0.94rem;
    padding: 20px 0;
}

label:hover{
  color: #EAF6F6;

}